.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 20px;
}
.order-total {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 24px;
}
.total-amount {
  color: #171f46;
  font-size: 32px;
}
.items-in-cart {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
}
.checkout-button {
  background-color: #0b69ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
}
